<style>
#main-nav > h1 {
  display: flex;
  align-items: flex-end;
}
#main-nav > h1 > span {
  padding-bottom: 0.25em;
}
#logo {
  margin-right: 0.5rem;
  max-width: 4rem;
}
</style>
<nav id="main-nav">
  <h1 style="max-width: 9em;">
    Wasmer Runtime D Bindings
  </h1>
  <ul style="list-style: none; padding: 0;">
    <li>
      <a href="https://chances.github.io/wasmer-d">API Reference</a>
    </li>
    <li>
      <a href="https://code.dlang.org/packages/wasmer">Download</a>
    </li>
    <li>
      <a href="https://github.com/chances/wasmer-d#readme">Open Source on GitHub</a>
    </li>
  </ul>
  <h2>API Reference</h2>
