<style>
#main-nav > img:first-child {
  margin-bottom: 1.25em;
}
#main-nav > h1 > span {
  padding-bottom: 0.25em;
}
#logo {
  margin-right: 0.5rem;
  max-width: 4rem;
}
</style>
<nav id="main-nav">
  <img src="https://github.com/WebAssembly/web-assembly-logo/raw/bcebf215c6ec0bdd87a3b0d8fddc0bb69d93e26a/dist/icon/web-assembly-icon.svg" alt="" width="64px" height="64px" aria-hidden="true" />
  <h1 style="max-width: 9em;">
    <span>Wasmer Runtime</span>
    <div>
      D Bindings
    </div>
  </h1>
  <ul style="list-style: none; padding: 0;">
    <li>
      <a href="https://chances.github.io/wasmer-d">API Reference</a>
    </li>
    <li>
      <a href="https://code.dlang.org/packages/wasmer">Download</a>
    </li>
    <li>
      <a href="https://github.com/chances/wasmer-d#readme">Open Source on GitHub</a>
    </li>
  </ul>
  <h2>API Reference</h2>
